<%= javascript_pack_tag 'application' %>
<h1>Lizzie & Carlos are (finally) getting married!</h1>
<div>
	<dl>
		<dt>Where?</dt>
		<dd>- At the Glasbern Inn in Fogelsville, PA</dd>
		<dt>When?</dt>
		<dd>- At 4pm on Friday, October 26th, 2018</dd>
		<dt>Why?</dt>
		<dd>- Tax breaks, Lizzie gets to wear more jewelry, Lizzie gets to wear a pretty dress, parents seem to like this sort of thing, LUB LUB LUB, etc</dd>
	</dl>

  <div>Hey there! Thanks for visiting our website! RSVP functionality is coming soon, along with lots more information about the big day and some other fun tidbits.</div>
  <div>In the meantime, if you're looking to book the hotel room, here's the info:</div>
  <div>Wingate by Wyndham Allentown</div>
  <div>4325 Hamilton Blvd.</div>
  <div>Allentown, PA 18103</div>
  <div>610-366-1600</div>

  <div>Call and ask for a room under the 'Wolensky-Gadea Wedding'</div>

  <div>We can't wait celebrate with you!</div>
</div>
